body {
	background: #1f2227;
	font-family: monospace;
	color: gold;
	font-size: 24px;
}

.container {
	display: flex;
	justify-content: space-around;
	transition: 0.5s;
}

.input-container {
	display: flex;
	justify-content: space-around;
}
.d-flex {
	display: flex;
}
.d-flex > * {
	margin-right: 30px;
}

.btn {
	color: gold;
	padding: 15px 30px;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	outline: none;
	font-family: monospace;
	cursor: pointer;
}

input,
textarea {
	color: wheat;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.5);
	max-width: 90vw;
}

.t-center {
	text-align: center;
}

.mx-auto {
	margin: 0 auto;
	display: block;
}

.MATRIX {
	border-right: 8px solid black;
	border-left: 8px solid black;
	width: fit-content;
	padding: 0 10px;
}

@media (max-width: 700px) {
	.container {
		display: block;
	}

	.container > * {
		margin: 0 auto;
		display: block;
		text-align: center;
	}

	.input-container {
		display: block;
	}

	.input-container > * {
		margin: 0 auto;
		display: block;
	}
	.MATRIX {
		margin: 0 auto;
	}
}
